  <div class="table-responsive" style="margin: 20px;">
    <table class="table bg-dark" data-bs-theme="dark" >
      <thead style="text-align: center;">
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" style="text-align: center;">
        <% for(let i=0;i< productsVar.length ; i++) {%>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= productsVar[i].name %></td>
          <td><%= productsVar[i].desc %></td>
          <td><%= productsVar[i].price %></td>
          <td>
            <img style="height: 150px; width: 100px;" src= <%= productsVar[i].imgURL %> />
          </td>
          <td>
            <a href="/product-edit?id=<%= productsVar[i].id %>"><button type="button" class="btn btn-primary">Edit</button></a>
            <button type="button" class="btn btn-danger delete-product-button" onclick="handleDeleteProductBtn('<%= productsVar[i].id%>')">Delete</button>
          </td>
        </tr>
        <%} %>
      </tbody>
    </table>
  </div>